# 1. Exclude everything
*

# 2. Allow (cancel exclucion) for .gitignore & README.md
!.gitignore
!README.md

# 3. Allow (cancel exclucion) for folders
!docker_data/
!projects/
!traefik/

# 4. Allow folders content
!docker_data/**
!projects/**
!traefik/**

# 5. Allow template & automatation script
!projects/wp-template/
!prejects/wp-template/**
!projects/create_wp_site.sh

# 6. Allow /logs/index.txt to keep the logs folder exist
traefik/logs/*
!traefik/logs/index.txt

# 7. Allow /acme.json/index.txt to keep the acme.json folder exist
traefik/acme.json/*
!traefik/acme.json/index.txt

# 8. Allow /mariadb/index.txt to keep the mariadb folder exist
docker_data/wordpress/mariadb/*
!docker_data/wordpress/mariadb/index.txt

.env
